body {
  background-color: #11111c;
}

.content_title {
  margin-bottom: 40px;
}
.content_title .title {
  font-family: "Roboto", sans-serif;
  color: white;
}
.content_title .title small {
  font-weight: 100;
  color: #ff08ff;
}

.main {
  padding: 70px 20px;
  width: 98%;
  margin: auto;
}
.main * {
  transition: all 0.4s;
}
.main .top_banner,
.main .bottom_banner {
  text-align: center;
  color: white;
}
.main .top_banner a,
.main .bottom_banner a {
  color: #ff08ff;
}
.main .main_content {
  margin: 60px 0 40px;
  column-gap: 20px;
  width: 100%;
}
.main .main_content .picture_wrapper {
  margin-bottom: 20px;
}
.main .main_content .picture_wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 2px;
}

/* responsive */
@media (min-width: 1200px) {
  .main_content {
    column-count: 4;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .main_content {
    column-count: 3;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .main_content {
    column-count: 2;
  }
}
@media (max-width: 575px) {
  .main_content {
    column-count: 1;
  }
}